@import "tailwindcss" theme(static);
@import "@nuxt/ui";

:root {
    --ui-header-height: --spacing(20);
    --ui-bg: var(--ui-color-primary-50);
    --ui-border: var(--ui-color-primary-100);
}
.dark {
    --ui-bg: var(--ui-color-neutral-800);
    --ui-border: var(--ui-color-neutral-800);
}
h1, h2, h3, h4 , h5, h6 {
    @apply font-bold text-orange-500 mt-3;
}
p {
    @apply mt-5;
}
.content ul { @apply list-disc list-inside mt-3 indent-4 ml-2 marker:text-yellow-500; }
.content ol { @apply list-decimal list-inside mt-3 ml-2 indent-4 marker:text-yellow-500; }
.content li { @apply indent-2 mt-2; }